name: Build, Push, and Deploy Docker Image

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t fastapi-app .

      - name: Tag Docker image
        run: docker tag fastapi-app ${{ secrets.DOCKER_USERNAME }}/fastapi-demo:latest

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/fastapi-demo:latest

  deploy:
    name: Deploy to EC2
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }} # e.g. 54.235.231.28
          username: ${{ secrets.EC2_USER }} # e.g. ubuntu
          key: ${{ secrets.EC2_SSH_KEY }} # contents of your .pem
          port: ${{ secrets.EC2_PORT }} # usually 22
          envs: DOCKER_USERNAME,DOCKER_PASSWORD
          script: |
            # Log in to Docker Hub
            echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin

            # Pull latest image
            docker pull ${DOCKER_USERNAME}/fastapi-demo:latest

            # Stop & remove old container if it exists
            docker stop fastapi-app || true
            docker rm fastapi-app || true

            # Run new container
            docker run -d \
              --name fastapi-app \
              -p 8000:8000 \
              ${DOCKER_USERNAME}/fastapi-demo:latest
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
